<ion-item *ngFor="let contact of contacts" class="contact-ion-list">
  <ion-avatar slot="start">
    <img [src]="contact.smallImageURL" onError="this.src='assets/imgs/userSmall.png'"/>
  </ion-avatar>
  <ion-col size="1">
    <ion-img *ngIf='contact.isFavorite' src='assets/imgs/favTrue.png'></ion-img>
  </ion-col>
  <ion-label>
    <h3>{{contact.name}}</h3>
    <p>{{contact.companyName}}</p>
  </ion-label>
</ion-item>

