<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic + Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic + Angular</ion-title>
    </ion-toolbar>
  </ion-header>

    <img src="assets/imgs/ionic-angular-capacitor.png">

</ion-content>
