<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Contacts -->
  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h6>Favorite Contacts</h6>
      </ion-label>
    </ion-item-divider>
    <app-contact-item [contacts]="favContacts"></app-contact-item>
    <ion-item-divider>
      <ion-label>
        <h6>Other Contacts</h6>
      </ion-label>
    </ion-item-divider>
    <app-contact-item [contacts]="otherContacts"></app-contact-item>
  </ion-list>
</ion-content>
